@import '../../style/palette.scss';

.rateWrapper {
  background-color: rgba(91, 168, 41, 0.08);
  color: $starcolordefault;
  font-size: 12px;
  font-weight: 400;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 4px;

  margin-right: 4px;
}
.--starcolor45 {
  color: $starcolor45;
}
.--starcolor40 {
  color: $starcolor40;
}
.--starcolor35 {
  color: $starcolor35;
}
.--starcolor30 {
  color: $starcolor30;
}
.--starcolor25 {
  color: $starcolor25;
}
.--starcolor20 {
  color: $starcolor20;
}
.--starcolor15 {
  color: $starcolor15;
}
