$animationtime: 600ms;
$animationlongtime: 1s;
$bgmaincolor: #fff;
$bgerrorcolor: #fcf6f7;
$disabledbgcolor: #f9f9f9;
$disabledtext: #13141f;
$primarycolor: #ff00a4;
$shopprimarycolor: #b400a4;
$similarlistbackground: #f8f9fb;
$textcolor: #404040;
$textwhite: #fff;
$textgreen: #22a958;
$textblack: #000000;
$textgreenrgb: 34, 169, 88;
$inputcolor: #cbcbcb;
$textcolorlight: #a3a3a3;
$textcolorlight2: #a2a2a2;
$texticoncolor: #f2f2f2;
$carbonlight: #53565c;
$filtericoncolor: #8c8c8c;
$seperatorcolor: #e6e6e6;
$dividercolor: #ececec;
$bordercolor: #f4f5f7;
$bordercolorlight: #cccc;
$cardbordercolor: #f2f2f2;
$catbordercolor: #e3e3e4;
$highlightcolor: #3478f6;
$errorcolor: #bd272d;
$landingcolor: #f5f3ff;
$landingheadercolor: #6616d0;
$landingshadowcolor: #d8d0ff;
$primarylight: #ffe0f4;
$primarylighten: #ffecf3;
$yellowlight: #fff4e4;
$textxxxsmall: 7px;
$textxxsmall: 8px;
$textxmdsmall: 9.1px;
$textxsmall: 10px;
$textxmidsmall: 11px;
$textxavrsmall: 11.2px;
$textsmall: 12px;
$textmedium: 14px;
$textsize: 16px;
$textlarge: 17px;
$textmlarge: 18px;
$textxlarge: 20px;
$textxxlarge: 22px;
$textxxxlarge: 24px;
$textxxxxlarge: 32px;
$navsize: 48px;
$shellmarginbottom: 56px;
$fontultraLight: 200;
$fontlight: 300;
$fontregular: 400;
$fontmedium: 500;
$fontbold: 600;
$fontbolder: 700;
$cardshadow: rgba(0, 0, 0, 0.1);
$cardshadow1: 0 2px 8px 0 $cardshadow;
$vendorscardshadow: rgba(64, 64, 64, 0.12);
$cardshadow2: 0 2px 12px 0 $cardshadow;
$cardshadow3: 0 2px 6px 0 $cardshadow;
$ribbonshadow: 0 2px 15px 0 rgba(39, 43, 51, 0.1);
$shadowsm: 0px 1px 6px rgba(0, 0, 0, 0.12);
$new_adsshadow: 0px 4px 8px rgba(79, 94, 113, 0.1),
  0px 2px 4px rgba(79, 94, 113, 0.11), 0px 0px 2px rgba(79, 94, 113, 0.12);
$dangercolor: red;
$blackcolor: #353535;
$whitecolor: #fff;
$darkblue: #2850a7;
$greencolor: #00d170;
$whitegreencolor: #f2faf5;
$verdungreencolor: #305d02;
$lightverduncolor: rgba(48, 93, 2, 0.08);
$bilbaogreencolor: #3f7e00;
$darkbilbaocolor: rgba(63, 126, 0, 0.08);
$limeadegreencolor: #5ba829;
$lightlimeadecolor: rgba(91, 168, 41, 0.08);
$yellowgreencolor: #9acd32;
$lightyellowgreencolor: rgba(154, 205, 50, 0.08);
$Barberycolor: #cdd614;
$lightBarberycolor: rgba(205, 214, 20, 0.08);
$selectiveyellowcolor: #ffba00;
$lightselectiveyellowcolor: rgba(255, 186, 0, 0.08);
$safetyorangecolor: #ff7800;
$lightsafetyorangecolor: rgba(255, 120, 0, 0.08);
$scarletcolor: #ff2717;
$lightscarletcolor: rgba(255, 39, 23, 0.08);
$venetianredcolor: #c10914;
$lightvenetiancolor: rgba(193, 9, 20, 0.08);
$forestgreencolor: #2a9134;
$graycolor: #505050;
$graydarkcolor: #383838;
$graylightdarkcolor: #7a7a7a;
$graylightcolor: #979797;
$graylightercolor: #c7c7c7;
$graylightestcolor: #f4f3f3;
$graybackcolor: #f3f5f9;
$grayskeletoncolor: #e2e2e2;
$servicesbackgroundcolor: #f3f5f9;
$newservicesbackgroundcolor: rgba(19, 20, 31, 0.05);
$primarydeepgreen: #22a958;
$silvercolor: #868686;
$seabluecolor: #78b6de;
$lightbluecolor: #008efa;
$redcolor: #f13224;
$lipstick: #aa004e;
$seperator: 1px solid $seperatorcolor;
$border: 1px solid $bordercolor;
$cardborder: 1px solid $cardbordercolor;
$catborder: 1px solid $catbordercolor;
$lightgray: #f8f9fb;
$lightorange: rgba(255, 143, 44, 0.1);
$shockingpink: #ff00a4;
$mango: #ff8f2c;
$yellow: #ffdd00;
$alphayellow: rgba(248, 214, 72, 0.06);
$yellowsecondary: #f8d648;
$mustard: #b400af;
$borderecommerce: #cdc5f2;
$whitesmokecolor: #f6f6f6;
$graysmokecolor: #f2f2f2;
$lightgreencolor: #f4fbf7;
$heartred: #ff4232;
$alphadeepgreen: rgba(34, 169, 88, 0.06);
$alphared: rgba(189, 39, 45, 0.04);
$alphaashgrey: #a3a3a3;
$alphacarbongrey: rgba(64, 64, 64, 0.04);
$alphacarbon: rgba(64, 64, 64, 0.6);
$alphacarbonlight: rgb(83, 86, 92, 0.6);
$alphagreen: rgba(34, 169, 88, 0.04);
$alphaprimary: rgba(255, 0, 164, 0.06);
$alphagrey: rgba(19, 20, 31, 0.34);
$cardbg: rgba(64, 64, 64, 0.04);
$cardborderlight: 1px solid $cardbg;
$bordercarbongrey: rgba(64, 64, 64, 0.1);
$greenbadge: #3f7e00;
$secondarybluecolor: #001fbb;
$secondaryred: #bd272d;
$starcolordefault: #305d02;
$starcolor45: #3f7e00;
$starcolor40: #5ba839;
$starcolor35: #9acd32;
$starcolor30: #cdd614;
$starcolor25: #ffba00;
$starcolor20: #ff7800;
$starcolor15: #ff2717;
$starcolor10: #c10914;
$surfacelightmode: #040a1fde;
$onsurfacelightmode: #616475;
$onsurfacehighmode: #1a1c23;
$onsurfacelightmode40: #616475;
$greenlightmodetransparent10: rgba(34, 169, 88, 0.1);
$greenlightmode: #22a958;
$lightmodessecondary: #575eff;
$redbackgroundsubscription: #ff3859;
$searchboxbackground: rgba(19, 20, 31, 0.05);
$searchboxicons: rgba(83, 86, 92, 0.7);
$newskeletongradient: lineargradient(
  42.21deg,
  rgba(18, 25, 33, 0.2) 0%,
  rgba(18, 25, 33, 0) 100%
);
$shadowneutralgradient: lineargradient(
  180deg,
  rgba(0, 0, 0, 0.7) 0%,
  rgba(0, 0, 0, 0.4) 56.25%,
  rgba(0, 0, 0, 0) 100%
);
$toasterrootmiddlebottom: 100px;
$bannerdownloadAppheight: 0px;
