@import '../../style/palette.scss';

.tagWrapper {
  font-size: $textsmall;
  font-weight: $fontmedium;
  color: $textcolor;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 32px;
  height: 14px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  padding: 4px;
  padding-bottom: 3px;

  color: white;
  background-color: $primarycolor;
  > span {
    margin: 0px 1px;
  }
}
